.mac {
  width: 60%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.mac img {
  width: 70%;
}
.hero-content {
  display: flex;
  margin-top: 5%;
}
h1 {
  text-align: center;
}
